.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 180px;
    border-radius: 10px;
    background: rgb(251, 140, 140);
}

header {
    margin-top: 20px;
}

.error-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-message {
    display: block;
    color: darkred;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.error-section button {
    width: 100px;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 3px solid rgb(83, 68, 68);
    box-shadow: 2px 2px 3px grey;
    color: rgb(83, 68, 68);
    letter-spacing: 0.4px;
}